*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #fff;
}
nav
{
    display: flex;
    top: 10px;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    left: 5px;
    height: 50px;
    width: 100vw;
}
nav a {
    padding: 10px 20px;
    position: relative;
}
nav a:nth-child(3)
{
    box-sizing: border-box;
    text-align: center;
    background-color: #171718;
    border-radius: 10px;
    color: var(--text-color);
}
nav a:nth-child(3):active {
    transform: scale(0.98);
}